name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true
      - name: Run RuboCop
        run: bundle exec rubocop --parallel --format progress

  test:
    needs: rubocop
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
        include:
          - ruby: 'ruby-head'
            allow-failure: true
    continue-on-error: ${{ matrix.allow-failure || false }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake test
      - name: Annotate uncovered lines
        uses: ggilder/codecoverage@6a0a9c002c49b6e5e4ce15f22574275600163618
        if: github.event_name == 'pull_request' && matrix.ruby == '4.0'
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERAGE_FILE_PATH: coverage/lcov.info
